
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style: none;
    text-decoration: none;
    font-size: 16px;
    scroll-behavior: smooth;
}

:root {
/* // Base Colors */
--prim-c: #111;
--sec-c: #333;
--light-c: #fff;
/* // Social Colors */
--Facebook: #395599;
--Instagram: #c32f82;
--Twitter: #1c9deb;
--Printerest: #d73532;
--LinkedIn: #4064ad;
--YouTube: #f80000;

/* // Responsive Variables */
--iPad-Pro: 1024px;
--iPad: 768px;
--iPhone-X: 375px;


/* // Font Variables */
--base-font-size: 16px;
--sm_font-size: var(--base-font-size) * 0.8;
--lg_font-size: var(--base-font-size) * 1.4;
--xl_font-size: var(--base-font-size) * 1.8;

}

body {
    font-family: "Raleway", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.3px;
    max-width: 1200px;
    margin: auto;
}

.lineaborde_a {
    /* border: 1px solid red; */
}

.lineaborde_b {
    /* border: 1px solid blue; */
}

.lineaborde_C {
    /* border: 1px solid olivedrab; */
}

.lineaborde_d {
    /* border: 1px solid rgb(212, 0, 255); */
}

/* ------------- nav  -----------------*/

.nav {
    position: sticky;
    top: 0;
    /* z-index: 1; */
    /* display: block; */
    /* width: 100%; */
    height: 80px;
    background-color: var(--light-c);
}

.nav-top{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction:row;
    /* flex-flow:wrap; */
    justify-content: space-between;
    /* alinea Y */
    align-items: center;
}

.nav .nav-top .nav-item{
    color: var(--prim-c);
    margin: 0 1rem;
}

.nav .nav-top .nav-item:hover{
    font-weight: bolder;
}

.text-sm{
    font-size: 12.8px;
}

.text-lg{
    font-size: 22.4px;
}

.text-xl{
    font-size: 28.8px;
}

/* ------------- main  -----------------*/

.main_section{
    margin-top: 100px;
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}

.main_section .section{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    /* X */
    justify-content: space-evenly;
}

.main_section .section .card{
    width: 230px;
    margin-bottom: 2rem;
    
}

.main_section .section .card .text-lg{
    margin: 1rem 0;
}

.main_section .section .card:hover{
    cursor: pointer;
    color: var(--light-c);
    background: linear-gradient(var(--YouTube), var(--Twitter));
}

.main_section img{
    max-height: 300px;
    width: 100%;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

/* ------------- about  -----------------*/

.about-section h3,
h4,
h5{
    margin: 3rem 0;
}

.about-section img {
    display: block;
    height: 550px;
    max-width: 800px;
    margin: auto;
}

.about-section p {
    margin: 6rem;
    line-height: 1.5;
}

/* ------------- footer  -----------------*/

.section-footer {
    width: 100%;
    margin: auto;
    margin-top: 3rem;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.section-footer .title{
    margin-bottom: 2rem;
    font-weight: bolder;
}

.section-footer .footer{
    width: 300px;
}

.section-footer  .footer_1 {
    display: flex;
    flex-direction: column;
    /* x */
    justify-content: space-between;
    padding: 0.5rem 0;
}

.section-footer  .footer_1 .footer_contact{
    display: flex;
    flex-direction: column;
}


.section-footer  .footer_2 .footer_2-content{
    display: flex;
    flex-direction: column;
}



.section-footer  .footer_2 .footer_2-content img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.section-footer  .footer_2 .footer_2-content li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.5rem;
}

.section-footer  .footer_2 .footer_2-content li:hover {
    /* background-color: lighten(var(--sec-c), 30%); */
    background-color: var(--sec-c);
    cursor: pointer;
    color: var(--light-c);
}

.section-footer  .footer_3 .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section-footer  .footer_3 .footer_social {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2rem 0;
}

.section-footer  .footer_3 .footer_social a i{
    font-size: 2rem;
    color:var(--sec-c)
}

.section-footer .footer_3 .footer_social .fa-facebook:hover{
    color: var(--Facebook);
}

.footer_3 .footer_social .fa-instagram:hover{
    color: var(--Instagram);
}

.footer_3 .footer_social .fa-twitter:hover{
    color: var(--Twitter);
}   

.footer_3 .footer_social .fa-pinterest:hover{
    color: var(--Printerest);
}

.section-footer  .footer_3 .tags span {
    color: blue;
    font-weight: bold;
    cursor: pointer;
    
}

/* ------------ Responsive ------------- */


